/**
 * Blog layout styles using flexbox for collapsible sidebar support.
 */

.blogLayoutRow {
  display: flex;
  gap: 2rem;
}

.blogMain {
  flex: 1;
  min-width: 0;
  max-width: 100%;
}

.blogToc {
  width: 200px;
  flex-shrink: 0;
}

@media (max-width: 996px) {
  .blogLayoutRow {
    flex-direction: column;
  }

  .blogToc {
    display: none;
  }
}
