# Compiled files
**/.terraform/*
*.tfstate
*.tfstate.*
**/*.tf.json
**/planfile
**/*.planfile
**/*.kubeconfig
**/terraform.tfvars.json
**/helmfile.vars.yaml
**/packer.vars.json
**/*.terraform.tfvars.json
**/*.helmfile.vars.yaml
**/*.packer.vars.json
**/.terraform.lock.hcl
.vscode/
**/nohup.out
**/kubeconfig.yaml
**/*.planfile.json

# Module directory
.terraform
**/.idea
**/*.iml

**/.build-harness
**/build-harness
**/build
**/dist
**/.helmfile/
.DS_Store
/variant
*.tar
*.gz
/bin

# Nix
.envrc
.direnv/

# Ignore cache files
**/.atmos/cache.yaml
**/cache.*.txt

# Ignore components vendored during tests
examples/demo-vendoring/components/**
tests/fixtures/scenarios/vendor-globs/components/**
tests/fixtures/scenarios/vendor/components/**
internal/exec/output.*

# Coverage files
coverage.out
coverage.html
