/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.slidesContainer {
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;
}
