.collapsible {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.collapsible button {
    display: flex;
    align-self: center;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    background: #cccccc57;
    border-radius: 3px;
    border: none;
}

.collapsible > .text {
  position: relative;
  max-height: 150px;
  overflow: hidden;
  transition: max-height 1s ease, filter 1s ease;
}

.collapsible > .text.short {
  max-height: 150px;
}

.collapsible > .text.medium {
  max-height: 300px;
}

.collapsible > .text.tall {
  max-height: 600px;
}

.collapsible > .text.expanded {
  max-height: 1000px; /* A large value to ensure full expansion */
}

.collapsible > .text::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px; /* Height of the blurred area */
  background: linear-gradient(transparent, rgba(255, 255, 255, 0));
  backdrop-filter: blur(2px);
  pointer-events: none;
  display: block;
  transition: opacity 0.3s ease-in-out;
}

.collapsible > .text.expanded::after {
  opacity: 0;
}
