
<span style="font-weight:bold;color:#ffffff;background-color:#9b51e0;"></span><span style="font-weight:bold;color:#ffffff;background-color:#9b51e0;"></span><span style="font-weight:bold;color:#ffffff;background-color:#9b51e0;"> </span><span style="font-weight:bold;color:#ffffff;background-color:#9b51e0;">Incorrect</span><span style="font-weight:bold;color:#ffffff;background-color:#9b51e0;"> Usage</span><span style="font-weight:bold;color:#ffffff;background-color:#9b51e0;"> </span><span style="color:#ffffff;"></span>

<span style="color:#ffffff;"></span><span style="color:#ffffff;"></span><span style="color:#ffffff;">Unknown command </span><span style="font-weight:bold;color:#9b51e0;background-color:#2a2a2a;"> toolchain </span><span style="color:#ffffff;"> for </span><span style="font-weight:bold;color:#9b51e0;background-color:#2a2a2a;"> atmos </span>
<span style="color:#ffffff;"></span><span style="color:#ffffff;"></span><span style="color:#ffffff;">Valid subcommands are</span><span style="color:#ffffff;">:</span>
<span style="color:#ffffff;"></span><span style="color:#ffffff;"></span><span style="color:#ffffff;">• </span><span style="color:#ffffff;">about</span>
<span style="color:#ffffff;"></span><span style="color:#ffffff;"></span><span style="color:#ffffff;">• </span><span style="color:#ffffff;">atlantis</span>
<span style="color:#ffffff;"></span><span style="color:#ffffff;"></span><span style="color:#ffffff;">• </span><span style="color:#ffffff;">aws</span>
<span style="color:#ffffff;"></span><span style="color:#ffffff;"></span><span style="color:#ffffff;">• </span><span style="color:#ffffff;">completion</span>
<span style="color:#ffffff;"></span><span style="color:#ffffff;"></span><span style="color:#ffffff;">• </span><span style="color:#ffffff;">describe</span>
<span style="color:#ffffff;"></span><span style="color:#ffffff;"></span><span style="color:#ffffff;">• </span><span style="color:#ffffff;">docs</span>
<span style="color:#ffffff;"></span><span style="color:#ffffff;"></span><span style="color:#ffffff;">• </span><span style="color:#ffffff;">helmfile</span>
<span style="color:#ffffff;"></span><span style="color:#ffffff;"></span><span style="color:#ffffff;">• </span><span style="color:#ffffff;">help</span>
<span style="color:#ffffff;"></span><span style="color:#ffffff;"></span><span style="color:#ffffff;">• </span><span style="color:#ffffff;">list</span>
<span style="color:#ffffff;"></span><span style="color:#ffffff;"></span><span style="color:#ffffff;">• </span><span style="color:#ffffff;">packer</span>
<span style="color:#ffffff;"></span><span style="color:#ffffff;"></span><span style="color:#ffffff;">• </span><span style="color:#ffffff;">pro</span>
<span style="color:#ffffff;"></span><span style="color:#ffffff;"></span><span style="color:#ffffff;">• </span><span style="color:#ffffff;">support</span>
<span style="color:#ffffff;"></span><span style="color:#ffffff;"></span><span style="color:#ffffff;">• </span><span style="color:#ffffff;">terraform</span>
<span style="color:#ffffff;"></span><span style="color:#ffffff;"></span><span style="color:#ffffff;">• </span><span style="color:#ffffff;">validate</span>
<span style="color:#ffffff;"></span><span style="color:#ffffff;"></span><span style="color:#ffffff;">• </span><span style="color:#ffffff;">vendor</span>
<span style="color:#ffffff;"></span><span style="color:#ffffff;"></span><span style="color:#ffffff;">• </span><span style="color:#ffffff;">version</span>
<span style="color:#ffffff;"></span><span style="color:#ffffff;"></span><span style="color:#ffffff;">• </span><span style="color:#ffffff;">workflow</span>
<span style="color:#ffffff;"></span><span style="color:#ffffff;"></span><span style="color:#ffffff;">Run </span><span style="font-weight:bold;color:#9b51e0;background-color:#2a2a2a;"> atmos --help </span><span style="color:#ffffff;"> for</span><span style="color:#ffffff;"> usage</span>


