
<span style="font-weight:bold;"></span><span style="font-weight:bold;"></span><span style="font-weight:bold;"> </span><span style="font-weight:bold;">Incorrect</span><span style="font-weight:bold;"> Usage</span><span style="font-weight:bold;"> </span>

 Unknown command <span style="font-weight:bold;"> theme </span> for <span style="font-weight:bold;"> atmos </span>

 Valid subcommands are:

• about
• atlantis
• auth
• aws
• completion
• describe
• docs
• helmfile
• help
• list
• packer
• pro
• support
• terraform
• validate
• vendor
• version
• workflow

 Run <span style="font-weight:bold;"> atmos --help </span> for usage

