
<span style="font-weight:bold;color:#ffffff;background-color:#9b51e0;"></span><span style="font-weight:bold;color:#ffffff;background-color:#9b51e0;"></span><span style="font-weight:bold;color:#ffffff;background-color:#9b51e0;"> </span><span style="font-weight:bold;color:#ffffff;background-color:#9b51e0;">Error</span><span style="font-weight:bold;color:#ffffff;background-color:#9b51e0;"> </span><span style="color:#ffffff;"></span>

<span style="color:#ffffff;"></span><span style="color:#ffffff;"></span><span style="color:#ffffff;">invalid tool name: tool '--help' not found in local aliases or Aqua</span><span style="color:#ffffff;"> registry</span>


