# fish completion for atmos                                -*- shell-script -*-

function __atmos_debug
    set -l file &quot;$BASH_COMP_DEBUG_FILE&quot;
    if test -n &quot;$file&quot;
        echo &quot;$argv&quot; &gt;&gt; $file
    end
end

function __atmos_perform_completion
    __atmos_debug &quot;Starting __atmos_perform_completion&quot;

    # Extract all args except the last one
    set -l args (commandline -opc)
    # Extract the last arg and escape it in case it is a space
    set -l lastArg (string escape -- (commandline -ct))

    __atmos_debug &quot;args: $args&quot;
    __atmos_debug &quot;last arg: $lastArg&quot;

    # Disable ActiveHelp which is not supported for fish shell
    set -l requestComp &quot;ATMOS_ACTIVE_HELP=0 $args[1] __complete $args[2..-1] $lastArg&quot;

    __atmos_debug &quot;Calling $requestComp&quot;
    set -l results (eval $requestComp 2&gt; /dev/null)

    # Some programs may output extra empty lines after the directive.
    # Let's ignore them or else it will break completion.
    # Ref: https://github.com/spf13/cobra/issues/1279
    for line in $results[-1..1]
        if test (string trim -- $line) = &quot;&quot;
            # Found an empty line, remove it
            set results $results[1..-2]
        else
            # Found non-empty line, we have our proper output
            break
        end
    end

    set -l comps $results[1..-2]
    set -l directiveLine $results[-1]

    # For Fish, when completing a flag with an = (e.g., &lt;program&gt; -n=&lt;TAB&gt;)
    # completions must be prefixed with the flag
    set -l flagPrefix (string match -r -- '-.*=' &quot;$lastArg&quot;)

    __atmos_debug &quot;Comps: $comps&quot;
    __atmos_debug &quot;DirectiveLine: $directiveLine&quot;
    __atmos_debug &quot;flagPrefix: $flagPrefix&quot;

    for comp in $comps
        printf &quot;%s%s\n&quot; &quot;$flagPrefix&quot; &quot;$comp&quot;
    end

    printf &quot;%s\n&quot; &quot;$directiveLine&quot;
end

# this function limits calls to __atmos_perform_completion, by caching the result behind $__atmos_perform_completion_once_result
function __atmos_perform_completion_once
    __atmos_debug &quot;Starting __atmos_perform_completion_once&quot;

    if test -n &quot;$__atmos_perform_completion_once_result&quot;
        __atmos_debug &quot;Seems like a valid result already exists, skipping __atmos_perform_completion&quot;
        return 0
    end

    set --global __atmos_perform_completion_once_result (__atmos_perform_completion)
    if test -z &quot;$__atmos_perform_completion_once_result&quot;
        __atmos_debug &quot;No completions, probably due to a failure&quot;
        return 1
    end

    __atmos_debug &quot;Performed completions and set __atmos_perform_completion_once_result&quot;
    return 0
end

# this function is used to clear the $__atmos_perform_completion_once_result variable after completions are run
function __atmos_clear_perform_completion_once_result
    __atmos_debug &quot;&quot;
    __atmos_debug &quot;========= clearing previously set __atmos_perform_completion_once_result variable ==========&quot;
    set --erase __atmos_perform_completion_once_result
    __atmos_debug &quot;Successfully erased the variable __atmos_perform_completion_once_result&quot;
end

function __atmos_requires_order_preservation
    __atmos_debug &quot;&quot;
    __atmos_debug &quot;========= checking if order preservation is required ==========&quot;

    __atmos_perform_completion_once
    if test -z &quot;$__atmos_perform_completion_once_result&quot;
        __atmos_debug &quot;Error determining if order preservation is required&quot;
        return 1
    end

    set -l directive (string sub --start 2 $__atmos_perform_completion_once_result[-1])
    __atmos_debug &quot;Directive is: $directive&quot;

    set -l shellCompDirectiveKeepOrder 32
    set -l keeporder (math (math --scale 0 $directive / $shellCompDirectiveKeepOrder) % 2)
    __atmos_debug &quot;Keeporder is: $keeporder&quot;

    if test $keeporder -ne 0
        __atmos_debug &quot;This does require order preservation&quot;
        return 0
    end

    __atmos_debug &quot;This doesn't require order preservation&quot;
    return 1
end


# This function does two things:
# - Obtain the completions and store them in the global __atmos_comp_results
# - Return false if file completion should be performed
function __atmos_prepare_completions
    __atmos_debug &quot;&quot;
    __atmos_debug &quot;========= starting completion logic ==========&quot;

    # Start fresh
    set --erase __atmos_comp_results

    __atmos_perform_completion_once
    __atmos_debug &quot;Completion results: $__atmos_perform_completion_once_result&quot;

    if test -z &quot;$__atmos_perform_completion_once_result&quot;
        __atmos_debug &quot;No completion, probably due to a failure&quot;
        # Might as well do file completion, in case it helps
        return 1
    end

    set -l directive (string sub --start 2 $__atmos_perform_completion_once_result[-1])
    set --global __atmos_comp_results $__atmos_perform_completion_once_result[1..-2]

    __atmos_debug &quot;Completions are: $__atmos_comp_results&quot;
    __atmos_debug &quot;Directive is: $directive&quot;

    set -l shellCompDirectiveError 1
    set -l shellCompDirectiveNoSpace 2
    set -l shellCompDirectiveNoFileComp 4
    set -l shellCompDirectiveFilterFileExt 8
    set -l shellCompDirectiveFilterDirs 16

    if test -z &quot;$directive&quot;
        set directive 0
    end

    set -l compErr (math (math --scale 0 $directive / $shellCompDirectiveError) % 2)
    if test $compErr -eq 1
        __atmos_debug &quot;Received error directive: aborting.&quot;
        # Might as well do file completion, in case it helps
        return 1
    end

    set -l filefilter (math (math --scale 0 $directive / $shellCompDirectiveFilterFileExt) % 2)
    set -l dirfilter (math (math --scale 0 $directive / $shellCompDirectiveFilterDirs) % 2)
    if test $filefilter -eq 1; or test $dirfilter -eq 1
        __atmos_debug &quot;File extension filtering or directory filtering not supported&quot;
        # Do full file completion instead
        return 1
    end

    set -l nospace (math (math --scale 0 $directive / $shellCompDirectiveNoSpace) % 2)
    set -l nofiles (math (math --scale 0 $directive / $shellCompDirectiveNoFileComp) % 2)

    __atmos_debug &quot;nospace: $nospace, nofiles: $nofiles&quot;

    # If we want to prevent a space, or if file completion is NOT disabled,
    # we need to count the number of valid completions.
    # To do so, we will filter on prefix as the completions we have received
    # may not already be filtered so as to allow fish to match on different
    # criteria than the prefix.
    if test $nospace -ne 0; or test $nofiles -eq 0
        set -l prefix (commandline -t | string escape --style=regex)
        __atmos_debug &quot;prefix: $prefix&quot;

        set -l completions (string match -r -- &quot;^$prefix.*&quot; $__atmos_comp_results)
        set --global __atmos_comp_results $completions
        __atmos_debug &quot;Filtered completions are: $__atmos_comp_results&quot;

        # Important not to quote the variable for count to work
        set -l numComps (count $__atmos_comp_results)
        __atmos_debug &quot;numComps: $numComps&quot;

        if test $numComps -eq 1; and test $nospace -ne 0
            # We must first split on \t to get rid of the descriptions to be
            # able to check what the actual completion will be.
            # We don't need descriptions anyway since there is only a single
            # real completion which the shell will expand immediately.
            set -l split (string split --max 1 \t $__atmos_comp_results[1])

            # Fish won't add a space if the completion ends with any
            # of the following characters: @=/:.,
            set -l lastChar (string sub -s -1 -- $split)
            if not string match -r -q &quot;[@=/:.,]&quot; -- &quot;$lastChar&quot;
                # In other cases, to support the &quot;nospace&quot; directive we trick the shell
                # by outputting an extra, longer completion.
                __atmos_debug &quot;Adding second completion to perform nospace directive&quot;
                set --global __atmos_comp_results $split[1] $split[1].
                __atmos_debug &quot;Completions are now: $__atmos_comp_results&quot;
            end
        end

        if test $numComps -eq 0; and test $nofiles -eq 0
            # To be consistent with bash and zsh, we only trigger file
            # completion when there are no other completions
            __atmos_debug &quot;Requesting file completion&quot;
            return 1
        end
    end

    return 0
end

# Since Fish completions are only loaded once the user triggers them, we trigger them ourselves
# so we can properly delete any completions provided by another script.
# Only do this if the program can be found, or else fish may print some errors; besides,
# the existing completions will only be loaded if the program can be found.
if type -q &quot;atmos&quot;
    # The space after the program name is essential to trigger completion for the program
    # and not completion of the program name itself.
    # Also, we use '&gt; /dev/null 2&gt;&amp;1' since '&amp;&gt;' is not supported in older versions of fish.
    complete --do-complete &quot;atmos &quot; &gt; /dev/null 2&gt;&amp;1
end

# Remove any pre-existing completions for the program since we will be handling all of them.
complete -c atmos -e

# this will get called after the two calls below and clear the $__atmos_perform_completion_once_result global
complete -c atmos -n '__atmos_clear_perform_completion_once_result'
# The call to __atmos_prepare_completions will setup __atmos_comp_results
# which provides the program's completion choices.
# If this doesn't require order preservation, we don't use the -k flag
complete -c atmos -n 'not __atmos_requires_order_preservation &amp;&amp; __atmos_prepare_completions' -f -a '$__atmos_comp_results'
# otherwise we use the -k flag
complete -k -c atmos -n '__atmos_requires_order_preservation &amp;&amp; __atmos_prepare_completions' -f -a '$__atmos_comp_results'

