├── atmos.yaml
├── <span style="font-weight:bold;color:#005f87;">components</span>
│   └── <span style="font-weight:bold;color:#005f87;">terraform</span>
│       └── <span style="font-weight:bold;color:#005f87;">myapp</span>
│           ├── main.tf
│           ├── outputs.tf
│           ├── README.md
│           ├── variables.tf
│           └── versions.tf
├── component.yaml
└── <span style="font-weight:bold;color:#005f87;">stacks</span>
    ├── <span style="font-weight:bold;color:#005f87;">catalog</span>
    │   └── myapp.yaml
    └── <span style="font-weight:bold;color:#005f87;">deploy</span>
        ├── dev.yaml
        ├── prod.yaml
        └── staging.yaml

