.
├── atmos.yaml
├── components
│   └── terraform
│       └── myapp
│           ├── README.md
│           ├── cache.dev.txt
│           ├── cache.prod.txt
│           ├── cache.staging.txt
│           ├── cache.txt
│           ├── main.tf
│           ├── outputs.tf
│           ├── terraform.tfstate.d
│           │   └── prod
│           │       └── terraform.tfstate
│           ├── variables.tf
│           └── versions.tf
└── stacks
    ├── catalog
    │   └── myapp.yaml
    └── deploy
        ├── dev.yaml
        ├── prod.yaml
        └── staging.yaml

8 directories, 15 files
