<span style="font-weight:bold;color:#005f87;">.</span>/
&#x251c;&#x2500;&#x2500;@atmos.yaml
&#x251c;&#x2500;&#x2500;@component.yaml
&#x251c;&#x2500;&#x2500;@<span style="font-weight:bold;color:#005f87;">components</span>/
&#x2502;@@@&#x2514;&#x2500;&#x2500;@<span style="font-weight:bold;color:#005f87;">terraform</span>/
&#x2502;@@@@@@@&#x2514;&#x2500;&#x2500;@<span style="font-weight:bold;color:#005f87;">myapp</span>/
&#x2502;@@@@@@@@@@@&#x251c;&#x2500;&#x2500;@README.md
&#x2502;@@@@@@@@@@@&#x251c;&#x2500;&#x2500;@main.tf
&#x2502;@@@@@@@@@@@&#x251c;&#x2500;&#x2500;@outputs.tf
&#x2502;@@@@@@@@@@@&#x251c;&#x2500;&#x2500;@<span style="font-weight:bold;color:#005f87;">terraform.tfstate.d</span>/
&#x2502;@@@@@@@@@@@&#x251c;&#x2500;&#x2500;@variables.tf
&#x2502;@@@@@@@@@@@&#x2514;&#x2500;&#x2500;@versions.tf
&#x2514;&#x2500;&#x2500;@<span style="font-weight:bold;color:#005f87;">stacks</span>/
@@@@&#x251c;&#x2500;&#x2500;@<span style="font-weight:bold;color:#005f87;">catalog</span>/
@@@@&#x2502;@@@&#x2514;&#x2500;&#x2500;@myapp.yaml
@@@@&#x2514;&#x2500;&#x2500;@<span style="font-weight:bold;color:#005f87;">deploy</span>/
@@@@@@@@&#x251c;&#x2500;&#x2500;@dev.yaml
@@@@@@@@&#x251c;&#x2500;&#x2500;@prod.yaml
@@@@@@@@&#x2514;&#x2500;&#x2500;@staging.yaml

8 directories, 11 files
