**/.terraform/**
**/.terraform.lock.hcl
!components/terraform/bucket/.terraform.lock.hcl
**/*.planfile
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfstate.d/**
github-output.txt
github-step-summary.txt
