# Ignore vendored components (created by source provisioner)
components/terraform/vpc-remote/
components/terraform/vpc-remote-workdir/

# Ignore workdir directories (created by workdir provisioner)
.workdir/

# Terraform files
**/.terraform/
**/*.tfstate
**/*.tfstate.backup
**/.terraform.lock.hcl
