Script started on 2025-10-07 07:52:57+00:00 [&lt;not executed on terminal&gt;]
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> 
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # Here's how simple it is to organize your environments.
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # (but it's entirely configurable).
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> 
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> tree stacks

/workspace/demo/screengrabs/scripts/demo-stacks/.demo.rc: line 39: tree: command not found


<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> 
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # Start by defining the baseline configuration for myapp.
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # This is the configuration that you want to import anytime you deploy your component.
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> 
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> cat stacks/catalog/myapp.yaml

/workspace/demo/screengrabs/scripts/demo-stacks/.demo.rc: line 39: bat: command not found


<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> 
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # Then we define each environment importing that baseline configuration.
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # Here's how the configuration for the 'dev' environment looks like...
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> 
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> cat stacks/deploy/dev.yaml

/workspace/demo/screengrabs/scripts/demo-stacks/.demo.rc: line 39: bat: command not found


<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> 
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # Define the configuration for the 'staging' environment.
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> 
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> cat stacks/deploy/staging.yaml

/workspace/demo/screengrabs/scripts/demo-stacks/.demo.rc: line 39: bat: command not found


<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> 
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # Finally, define the configuration for the 'prod' environment...
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> 
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> cat stacks/deploy/prod.yaml

/workspace/demo/screengrabs/scripts/demo-stacks/.demo.rc: line 39: bat: command not found

Script done on 2025-10-07 07:52:57+00:00 [COMMAND_EXIT_CODE=&quot;127&quot;]
