<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # Here's how simple it is to organize your environments.
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # (but it's entirely configurable).
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> 
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> tree stacks

<span style="font-weight:bold;color:#005f87;">stacks</span>/
├── <span style="font-weight:bold;color:#005f87;">catalog</span>/
│   └── myapp.yaml
└── <span style="font-weight:bold;color:#005f87;">deploy</span>/
    ├── dev.yaml
    ├── prod.yaml
    └── staging.yaml

3 directories, 4 files


<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> 
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # Start by defining the baseline configuration for myapp.
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # This is the configuration that you want to import anytime you deploy your component.
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> 
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> cat stacks/catalog/myapp.yaml

     File: <span style="font-weight:bold;">stacks/catalog/myapp.yaml</span>
<span style="color:#404040;">   1</span> <span style="color:#969896;">#</span><span style="color:#969896;"> yaml-language-server: $schema=https://atmos.tools/schemas/atmos/atmos-manifest/1.0/atmos-manifest.json</span>
<span style="color:#404040;">   2</span> 
<span style="color:#404040;">   3</span> <span style="color:#63a35c;">components</span><span style="color:#333333;">:</span>
<span style="color:#404040;">   4</span> <span style="color:#333333;">  </span><span style="color:#63a35c;">terraform</span><span style="color:#333333;">:</span>
<span style="color:#404040;">   5</span> <span style="color:#333333;">    </span><span style="color:#63a35c;">myapp</span><span style="color:#333333;">:</span>
<span style="color:#404040;">   6</span> <span style="color:#333333;">      </span><span style="color:#63a35c;">vars</span><span style="color:#333333;">:</span>
<span style="color:#404040;">   7</span> <span style="color:#333333;">        </span><span style="color:#63a35c;">location</span><span style="color:#333333;">:</span><span style="color:#333333;"> </span><span style="color:#005f87;">Los Angeles</span>
<span style="color:#404040;">   8</span> <span style="color:#333333;">        </span><span style="color:#63a35c;">lang</span><span style="color:#333333;">:</span><span style="color:#333333;"> </span><span style="color:#005f87;">en</span>
<span style="color:#404040;">   9</span> <span style="color:#333333;">        </span><span style="color:#63a35c;">format</span><span style="color:#333333;">:</span><span style="color:#333333;"> </span><span style="color:#005f87;">'</span><span style="color:#005f87;">'</span>
<span style="color:#404040;">  10</span> <span style="color:#333333;">        </span><span style="color:#63a35c;">options</span><span style="color:#333333;">:</span><span style="color:#333333;"> </span><span style="color:#005f87;">'</span><span style="color:#005f87;">0</span><span style="color:#005f87;">'</span>
<span style="color:#404040;">  11</span> <span style="color:#333333;">        </span><span style="color:#63a35c;">units</span><span style="color:#333333;">:</span><span style="color:#333333;"> </span><span style="color:#005f87;">m</span>


<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> 
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # Then we define each environment importing that baseline configuration.
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # Here's how the configuration for the 'dev' environment looks like...
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> 
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> cat stacks/deploy/dev.yaml

     File: <span style="font-weight:bold;">stacks/deploy/dev.yaml</span>
<span style="color:#404040;">   1</span> <span style="color:#969896;">#</span><span style="color:#969896;"> yaml-language-server: $schema=https://atmos.tools/schemas/atmos/atmos-manifest/1.0/atmos-manifest.json</span>
<span style="color:#404040;">   2</span> 
<span style="color:#404040;">   3</span> <span style="color:#63a35c;">vars</span><span style="color:#333333;">:</span>
<span style="color:#404040;">   4</span> <span style="color:#333333;">  </span><span style="color:#63a35c;">stage</span><span style="color:#333333;">:</span><span style="color:#333333;"> </span><span style="color:#005f87;">dev</span>
<span style="color:#404040;">   5</span> 
<span style="color:#404040;">   6</span> <span style="color:#63a35c;">import</span><span style="color:#333333;">:</span>
<span style="color:#404040;">   7</span> <span style="color:#333333;">  </span><span style="color:#333333;">-</span><span style="color:#333333;"> </span><span style="color:#005f87;">catalog/myapp</span>
<span style="color:#404040;">   8</span> 
<span style="color:#404040;">   9</span> <span style="color:#63a35c;">components</span><span style="color:#333333;">:</span>
<span style="color:#404040;">  10</span> <span style="color:#333333;">  </span><span style="color:#63a35c;">terraform</span><span style="color:#333333;">:</span>
<span style="color:#404040;">  11</span> <span style="color:#333333;">    </span><span style="color:#63a35c;">myapp</span><span style="color:#333333;">:</span>
<span style="color:#404040;">  12</span> <span style="color:#333333;">      </span><span style="color:#63a35c;">vars</span><span style="color:#333333;">:</span>
<span style="color:#404040;">  13</span> <span style="color:#333333;">        </span><span style="color:#63a35c;">location</span><span style="color:#333333;">:</span><span style="color:#333333;"> </span><span style="color:#005f87;">Stockholm</span>
<span style="color:#404040;">  14</span> <span style="color:#333333;">        </span><span style="color:#63a35c;">lang</span><span style="color:#333333;">:</span><span style="color:#333333;"> </span><span style="color:#005f87;">se</span>


<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> 
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # Define the configuration for the 'staging' environment.
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> 
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> cat stacks/deploy/staging.yaml

     File: <span style="font-weight:bold;">stacks/deploy/staging.yaml</span>
<span style="color:#404040;">   1</span> <span style="color:#969896;">#</span><span style="color:#969896;"> yaml-language-server: $schema=https://atmos.tools/schemas/atmos/atmos-manifest/1.0/atmos-manifest.json</span>
<span style="color:#404040;">   2</span> 
<span style="color:#404040;">   3</span> <span style="color:#63a35c;">vars</span><span style="color:#333333;">:</span>
<span style="color:#404040;">   4</span> <span style="color:#333333;">  </span><span style="color:#63a35c;">stage</span><span style="color:#333333;">:</span><span style="color:#333333;"> </span><span style="color:#005f87;">staging</span>
<span style="color:#404040;">   5</span> 
<span style="color:#404040;">   6</span> <span style="color:#63a35c;">import</span><span style="color:#333333;">:</span>
<span style="color:#404040;">   7</span> <span style="color:#333333;">  </span><span style="color:#333333;">-</span><span style="color:#333333;"> </span><span style="color:#005f87;">catalog/myapp</span>
<span style="color:#404040;">   8</span> 
<span style="color:#404040;">   9</span> <span style="color:#63a35c;">components</span><span style="color:#333333;">:</span>
<span style="color:#404040;">  10</span> <span style="color:#333333;">  </span><span style="color:#63a35c;">terraform</span><span style="color:#333333;">:</span>
<span style="color:#404040;">  11</span> <span style="color:#333333;">    </span><span style="color:#63a35c;">myapp</span><span style="color:#333333;">:</span>
<span style="color:#404040;">  12</span> <span style="color:#333333;">      </span><span style="color:#63a35c;">vars</span><span style="color:#333333;">:</span>
<span style="color:#404040;">  13</span> <span style="color:#333333;">        </span><span style="color:#63a35c;">location</span><span style="color:#333333;">:</span><span style="color:#333333;"> </span><span style="color:#005f87;">Los Angeles</span>
<span style="color:#404040;">  14</span> <span style="color:#333333;">        </span><span style="color:#63a35c;">lang</span><span style="color:#333333;">:</span><span style="color:#333333;"> </span><span style="color:#005f87;">en</span>


<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> 
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # Finally, define the configuration for the 'prod' environment...
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> 
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> cat stacks/deploy/prod.yaml

     File: <span style="font-weight:bold;">stacks/deploy/prod.yaml</span>
<span style="color:#404040;">   1</span> <span style="color:#969896;">#</span><span style="color:#969896;"> yaml-language-server: $schema=https://atmos.tools/schemas/atmos/atmos-manifest/1.0/atmos-manifest.json</span>
<span style="color:#404040;">   2</span> 
<span style="color:#404040;">   3</span> <span style="color:#63a35c;">vars</span><span style="color:#333333;">:</span>
<span style="color:#404040;">   4</span> <span style="color:#333333;">  </span><span style="color:#63a35c;">stage</span><span style="color:#333333;">:</span><span style="color:#333333;"> </span><span style="color:#005f87;">prod</span>
<span style="color:#404040;">   5</span> 
<span style="color:#404040;">   6</span> <span style="color:#63a35c;">import</span><span style="color:#333333;">:</span>
<span style="color:#404040;">   7</span> <span style="color:#333333;">  </span><span style="color:#333333;">-</span><span style="color:#333333;"> </span><span style="color:#005f87;">catalog/myapp</span>
<span style="color:#404040;">   8</span> 
<span style="color:#404040;">   9</span> <span style="color:#63a35c;">components</span><span style="color:#333333;">:</span>
<span style="color:#404040;">  10</span> <span style="color:#333333;">  </span><span style="color:#63a35c;">terraform</span><span style="color:#333333;">:</span>
<span style="color:#404040;">  11</span> <span style="color:#333333;">    </span><span style="color:#63a35c;">myapp</span><span style="color:#333333;">:</span>
<span style="color:#404040;">  12</span> <span style="color:#333333;">      </span><span style="color:#63a35c;">vars</span><span style="color:#333333;">:</span>
<span style="color:#404040;">  13</span> <span style="color:#333333;">        </span><span style="color:#63a35c;">location</span><span style="color:#333333;">:</span><span style="color:#333333;"> </span><span style="color:#005f87;">Los Angeles</span>
