<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # Deploy your component to the staging environment 🚀
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> 
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> atmos terraform deploy myapp --stack staging

<span style="font-weight:bold;">Initializing the backend...</span>
<span style="font-weight:bold;">Initializing provider plugins...</span>

<span style="font-weight:bold;"></span><span style="font-weight:bold;color:green;">Terraform has been successfully initialized!</span><span style="color:green;"></span>
<span style="color:red;">

</span><span style="color:green;"></span><span style="font-weight:bold;color:green;">Created and switched to workspace &quot;staging&quot;!</span><span style="color:green;">

You're now on a new, empty workspace. Workspaces isolate their state,
so if you run &quot;terraform plan&quot; Terraform will not see any existing state
for this configuration.</span>
<span style="font-weight:bold;">data.http.weather: Reading...</span>
<span style="font-weight:bold;">data.http.weather: Still reading... [00m10s elapsed]</span>
<span style="font-weight:bold;">data.http.weather: Still reading... [00m20s elapsed]</span>

Changes to Outputs:
  <span style="color:green;">+</span> lang     = &quot;en&quot;
  <span style="color:green;">+</span> location = &quot;Los Angeles&quot;
  <span style="color:green;">+</span> stage    = &quot;staging&quot;
  <span style="color:green;">+</span> units    = &quot;m&quot;
  <span style="color:green;">+</span> url      = &quot;https://wttr.in/Los+Angeles?0&amp;format=&amp;lang=en&amp;u=m&quot;

You can apply this plan to save these new output values to the Terraform state, without changing any real infrastructure.
<span style="color:red;">╷</span>
<span style="color:red;">│</span> <span style="font-weight:bold;"></span><span style="font-weight:bold;color:red;">Error: </span><span style="font-weight:bold;">Error making request</span>
<span style="color:red;">│</span> 
<span style="color:red;">│</span>   with data.http.weather,
<span style="color:red;">│</span>   on main.tf line 11, in data &quot;http&quot; &quot;weather&quot;:
<span style="color:red;">│</span>   11: data &quot;http&quot; &quot;weather&quot; <span style="text-decoration:underline;">{</span>
<span style="color:red;">│</span> 
<span style="color:red;">│</span> Error making request: GET https://wttr.in/Los+Angeles?0&amp;format=&amp;lang=en&amp;u=m giving up after 1 attempt(s): Get &quot;https://wttr.in/Los+Angeles?0&amp;format=&amp;lang=en&amp;u=m&quot;: stream error: stream ID 1; INTERNAL_ERROR; received from peer
<span style="color:red;">╵</span>

<span style="font-weight:bold;"></span><span style="font-weight:bold;"></span><span style="font-weight:bold;"> </span><span style="font-weight:bold;">Error</span><span style="font-weight:bold;"> </span>

 subcommand exited with code 1

