<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> #
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> #
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # Deploy your component to the dev environment 🚀
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> 
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> atmos terraform deploy myapp --stack dev

<span style="font-weight:bold;">Initializing provider plugins found in the configuration...</span>
- Using hashicorp/http v3.6.0 from the shared cache directory
- Using hashicorp/local v2.9.0 from the shared cache directory

<span style="font-weight:bold;">Initializing the backend...</span>



<span style="color:olive;">╷</span>
<span style="color:olive;">│</span> <span style="font-weight:bold;"></span><span style="font-weight:bold;color:olive;">Warning: </span><span style="font-weight:bold;">Incomplete lock file information for providers</span>
<span style="color:olive;">│</span> 
<span style="color:olive;">│</span> Due to your customized provider installation methods, Terraform was forced
<span style="color:olive;">│</span> to calculate lock file checksums locally for the following providers:
<span style="color:olive;">│</span>   - hashicorp/http
<span style="color:olive;">│</span>   - hashicorp/local
<span style="color:olive;">│</span> 
<span style="color:olive;">│</span> The current .terraform.lock.hcl file only includes checksums for
<span style="color:olive;">│</span> linux_amd64, so Terraform running on another platform will fail to install
<span style="color:olive;">│</span> these providers.
<span style="color:olive;">│</span> 
<span style="color:olive;">│</span> To calculate additional checksums for another platform, run:
<span style="color:olive;">│</span>   terraform providers lock -platform=linux_amd64
<span style="color:olive;">│</span> (where linux_amd64 is the platform to generate)
<span style="color:olive;">╵</span>
<span style="font-weight:bold;"></span><span style="font-weight:bold;color:green;">Terraform has been successfully initialized!</span><span style="color:green;"></span>
<span style="color:red;">

</span><span style="color:green;"></span><span style="font-weight:bold;color:green;">Created and switched to workspace &quot;dev&quot;!</span><span style="color:green;">

You're now on a new, empty workspace. Workspaces isolate their state,
so if you run &quot;terraform plan&quot; Terraform will not see any existing state
for this configuration.</span>
<span style="font-weight:bold;">data.http.weather: Reading...</span>
<span style="font-weight:bold;">data.http.weather: Read complete after 0s 
    [id=https://wttr.in/Stockholm?0m&amp;lang=sv]</span>

Terraform used the selected providers to generate the following execution
plan. 
  <span style="color:green;">+</span> create

Terraform will perform the following actions:

<span style="font-weight:bold;">  # local_file.cache</span> will be created
  <span style="color:green;">+</span> resource &quot;local_file&quot; &quot;cache&quot; {
      <span style="color:green;">+</span> content              =

            Väderleksprognos för: Stockholm
            
              <span style="color:#ffff00;">    \   /    </span> Clear
              <span style="color:#ffff00;">     .-.     </span> <span style="color:#afff00;">16</span> °C
              <span style="color:#ffff00;">  ― (   ) ―  </span> <span style="font-weight:bold;">→</span> <span style="color:#ffd700;">18</span> km/h
              <span style="color:#ffff00;">     `-’     </span> 10 km
              <span style="color:#ffff00;">    /   \    </span> 0.0 mm


      <span style="color:green;">+</span> content_base64sha256 = (known after apply)
      <span style="color:green;">+</span> content_base64sha512 = (known after apply)
      <span style="color:green;">+</span> content_md5          = (known after apply)
      <span style="color:green;">+</span> content_sha1         = (known after apply)
      <span style="color:green;">+</span> content_sha256       = (known after apply)
      <span style="color:green;">+</span> content_sha512       = (known after apply)
      <span style="color:green;">+</span> directory_permission = &quot;0777&quot;
      <span style="color:green;">+</span> file_permission      = &quot;0777&quot;
      <span style="color:green;">+</span> filename             = &quot;cache.dev.txt&quot;
      <span style="color:green;">+</span> id                   = (known after apply)
    }

<span style="font-weight:bold;">Plan:</span> 1 to add, 0 to change, 0 to destroy.

Changes to Outputs:
  <span style="color:green;">+</span> lang     = &quot;sv&quot;
  <span style="color:green;">+</span> location = &quot;Stockholm&quot;
  <span style="color:green;">+</span> stage    = &quot;dev&quot;
  <span style="color:green;">+</span> units    = &quot;m&quot;
  <span style="color:green;">+</span> url      = &quot;https://wttr.in/Stockholm?0m&amp;lang=sv&quot;
  <span style="color:green;">+</span> weather  =

        Väderleksprognos för: Stockholm
        
          <span style="color:#ffff00;">    \   /    </span> Clear
          <span style="color:#ffff00;">     .-.     </span> <span style="color:#afff00;">16</span> °C
          <span style="color:#ffff00;">  ― (   ) ―  </span> <span style="font-weight:bold;">→</span> <span style="color:#ffd700;">18</span> km/h
          <span style="color:#ffff00;">     `-’     </span> 10 km
          <span style="color:#ffff00;">    /   \    </span> 0.0 mm


<span style="font-weight:bold;">local_file.cache: Creating...</span>
<span style="font-weight:bold;">local_file.cache: Creation complete after 0s </span>
<span style="font-weight:bold;"></span><span style="font-weight:bold;color:green;">
Apply complete! Resources: 1 added, 0 changed, 0 destroyed.</span>
<span style="font-weight:bold;"></span><span style="font-weight:bold;color:green;">
Outputs:

</span>lang = &quot;sv&quot;
location = &quot;Stockholm&quot;
stage = &quot;dev&quot;
units = &quot;m&quot;
url = &quot;https://wttr.in/Stockholm?0m&amp;lang=sv&quot;
weather =

Väderleksprognos för: Stockholm

  <span style="color:#ffff00;">    \   /    </span> Clear
  <span style="color:#ffff00;">     .-.     </span> <span style="color:#afff00;">16</span> °C
  <span style="color:#ffff00;">  ― (   ) ―  </span> <span style="font-weight:bold;">→</span> <span style="color:#ffd700;">18</span> km/h
  <span style="color:#ffff00;">     `-’     </span> 10 km
  <span style="color:#ffff00;">    /   \    </span> 0.0 mm








<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # Deploy your component to the staging environment 🚀
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> 
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> atmos terraform deploy myapp --stack staging

<span style="font-weight:bold;">Initializing provider plugins found in the configuration...</span>
- Using hashicorp/local v2.9.0 from the shared cache directory
- Using hashicorp/http v3.6.0 from the shared cache directory

<span style="font-weight:bold;">Initializing the backend...</span>



<span style="color:olive;">╷</span>
<span style="color:olive;">│</span> <span style="font-weight:bold;"></span><span style="font-weight:bold;color:olive;">Warning: </span><span style="font-weight:bold;">Incomplete lock file information for providers</span>
<span style="color:olive;">│</span> 
<span style="color:olive;">│</span> Due to your customized provider installation methods, Terraform was forced
<span style="color:olive;">│</span> to calculate lock file checksums locally for the following providers:
<span style="color:olive;">│</span>   - hashicorp/http
<span style="color:olive;">│</span>   - hashicorp/local
<span style="color:olive;">│</span> 
<span style="color:olive;">│</span> The current .terraform.lock.hcl file only includes checksums for
<span style="color:olive;">│</span> linux_amd64, so Terraform running on another platform will fail to install
<span style="color:olive;">│</span> these providers.
<span style="color:olive;">│</span> 
<span style="color:olive;">│</span> To calculate additional checksums for another platform, run:
<span style="color:olive;">│</span>   terraform providers lock -platform=linux_amd64
<span style="color:olive;">│</span> (where linux_amd64 is the platform to generate)
<span style="color:olive;">╵</span>
<span style="font-weight:bold;"></span><span style="font-weight:bold;color:green;">Terraform has been successfully initialized!</span><span style="color:green;"></span>
<span style="color:red;">

</span><span style="color:green;"></span><span style="font-weight:bold;color:green;">Created and switched to workspace &quot;staging&quot;!</span><span style="color:green;">

You're now on a new, empty workspace. Workspaces isolate their state,
so if you run &quot;terraform plan&quot; Terraform will not see any existing state
for this configuration.</span>
<span style="font-weight:bold;">data.http.weather: Reading...</span>
<span style="font-weight:bold;">data.http.weather: Read complete after 0s 
    [id=https://wttr.in/Los+Angeles?0m&amp;lang=en]</span>

Terraform used the selected providers to generate the following execution
plan. 
  <span style="color:green;">+</span> create

Terraform will perform the following actions:

<span style="font-weight:bold;">  # local_file.cache</span> will be created
  <span style="color:green;">+</span> resource &quot;local_file&quot; &quot;cache&quot; {
      <span style="color:green;">+</span> content              =

            Weather report: Los Angeles
            
              <span style="color:#ffff00;">    \   /    </span> Sunny
              <span style="color:#ffff00;">     .-.     </span> <span style="color:#d7ff00;">19</span> °C
              <span style="color:#ffff00;">  ― (   ) ―  </span> <span style="font-weight:bold;">↗</span> <span style="color:#ffd700;">18</span> km/h
              <span style="color:#ffff00;">     `-’     </span> 16 km
              <span style="color:#ffff00;">    /   \    </span> 0.0 mm


      <span style="color:green;">+</span> content_base64sha256 = (known after apply)
      <span style="color:green;">+</span> content_base64sha512 = (known after apply)
      <span style="color:green;">+</span> content_md5          = (known after apply)
      <span style="color:green;">+</span> content_sha1         = (known after apply)
      <span style="color:green;">+</span> content_sha256       = (known after apply)
      <span style="color:green;">+</span> content_sha512       = (known after apply)
      <span style="color:green;">+</span> directory_permission = &quot;0777&quot;
      <span style="color:green;">+</span> file_permission      = &quot;0777&quot;
      <span style="color:green;">+</span> filename             = &quot;cache.staging.txt&quot;
      <span style="color:green;">+</span> id                   = (known after apply)
    }

<span style="font-weight:bold;">Plan:</span> 1 to add, 0 to change, 0 to destroy.

Changes to Outputs:
  <span style="color:green;">+</span> lang     = &quot;en&quot;
  <span style="color:green;">+</span> location = &quot;Los Angeles&quot;
  <span style="color:green;">+</span> stage    = &quot;staging&quot;
  <span style="color:green;">+</span> units    = &quot;m&quot;
  <span style="color:green;">+</span> url      = &quot;https://wttr.in/Los+Angeles?0m&amp;lang=en&quot;
  <span style="color:green;">+</span> weather  =

        Weather report: Los Angeles
        
          <span style="color:#ffff00;">    \   /    </span> Sunny
          <span style="color:#ffff00;">     .-.     </span> <span style="color:#d7ff00;">19</span> °C
          <span style="color:#ffff00;">  ― (   ) ―  </span> <span style="font-weight:bold;">↗</span> <span style="color:#ffd700;">18</span> km/h
          <span style="color:#ffff00;">     `-’     </span> 16 km
          <span style="color:#ffff00;">    /   \    </span> 0.0 mm


<span style="font-weight:bold;">local_file.cache: Creating...</span>
<span style="font-weight:bold;">local_file.cache: Creation complete after 0s </span>
<span style="font-weight:bold;"></span><span style="font-weight:bold;color:green;">
Apply complete! Resources: 1 added, 0 changed, 0 destroyed.</span>
<span style="font-weight:bold;"></span><span style="font-weight:bold;color:green;">
Outputs:

</span>lang = &quot;en&quot;
location = &quot;Los Angeles&quot;
stage = &quot;staging&quot;
units = &quot;m&quot;
url = &quot;https://wttr.in/Los+Angeles?0m&amp;lang=en&quot;
weather =

Weather report: Los Angeles

  <span style="color:#ffff00;">    \   /    </span> Sunny
  <span style="color:#ffff00;">     .-.     </span> <span style="color:#d7ff00;">19</span> °C
  <span style="color:#ffff00;">  ― (   ) ―  </span> <span style="font-weight:bold;">↗</span> <span style="color:#ffd700;">18</span> km/h
  <span style="color:#ffff00;">     `-’     </span> 16 km
  <span style="color:#ffff00;">    /   \    </span> 0.0 mm








<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # Deploy your component to the production (prod) environment 🚀
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> 
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> atmos terraform deploy myapp --stack prod

<span style="font-weight:bold;">Initializing provider plugins found in the configuration...</span>
- Using hashicorp/local v2.9.0 from the shared cache directory
- Using hashicorp/http v3.6.0 from the shared cache directory

<span style="font-weight:bold;">Initializing the backend...</span>



<span style="color:olive;">╷</span>
<span style="color:olive;">│</span> <span style="font-weight:bold;"></span><span style="font-weight:bold;color:olive;">Warning: </span><span style="font-weight:bold;">Incomplete lock file information for providers</span>
<span style="color:olive;">│</span> 
<span style="color:olive;">│</span> Due to your customized provider installation methods, Terraform was forced
<span style="color:olive;">│</span> to calculate lock file checksums locally for the following providers:
<span style="color:olive;">│</span>   - hashicorp/http
<span style="color:olive;">│</span>   - hashicorp/local
<span style="color:olive;">│</span> 
<span style="color:olive;">│</span> The current .terraform.lock.hcl file only includes checksums for
<span style="color:olive;">│</span> linux_amd64, so Terraform running on another platform will fail to install
<span style="color:olive;">│</span> these providers.
<span style="color:olive;">│</span> 
<span style="color:olive;">│</span> To calculate additional checksums for another platform, run:
<span style="color:olive;">│</span>   terraform providers lock -platform=linux_amd64
<span style="color:olive;">│</span> (where linux_amd64 is the platform to generate)
<span style="color:olive;">╵</span>
<span style="font-weight:bold;"></span><span style="font-weight:bold;color:green;">Terraform has been successfully initialized!</span><span style="color:green;"></span>
<span style="color:red;">

</span><span style="color:green;"></span><span style="font-weight:bold;color:green;">Created and switched to workspace &quot;prod&quot;!</span><span style="color:green;">

You're now on a new, empty workspace. Workspaces isolate their state,
so if you run &quot;terraform plan&quot; Terraform will not see any existing state
for this configuration.</span>
<span style="font-weight:bold;">data.http.weather: Reading...</span>
<span style="font-weight:bold;">data.http.weather: Read complete after 1s 
    [id=https://wttr.in/Los+Angeles?0m&amp;lang=en]</span>

Terraform used the selected providers to generate the following execution
plan. 
  <span style="color:green;">+</span> create

Terraform will perform the following actions:

<span style="font-weight:bold;">  # local_file.cache</span> will be created
  <span style="color:green;">+</span> resource &quot;local_file&quot; &quot;cache&quot; {
      <span style="color:green;">+</span> content              =

            Weather report: Los Angeles
            
              <span style="color:#ffff00;">    \   /    </span> Sunny
              <span style="color:#ffff00;">     .-.     </span> <span style="color:#d7ff00;">19</span> °C
              <span style="color:#ffff00;">  ― (   ) ―  </span> <span style="font-weight:bold;">↗</span> <span style="color:#ffd700;">18</span> km/h
              <span style="color:#ffff00;">     `-’     </span> 16 km
              <span style="color:#ffff00;">    /   \    </span> 0.0 mm


      <span style="color:green;">+</span> content_base64sha256 = (known after apply)
      <span style="color:green;">+</span> content_base64sha512 = (known after apply)
      <span style="color:green;">+</span> content_md5          = (known after apply)
      <span style="color:green;">+</span> content_sha1         = (known after apply)
      <span style="color:green;">+</span> content_sha256       = (known after apply)
      <span style="color:green;">+</span> content_sha512       = (known after apply)
      <span style="color:green;">+</span> directory_permission = &quot;0777&quot;
      <span style="color:green;">+</span> file_permission      = &quot;0777&quot;
      <span style="color:green;">+</span> filename             = &quot;cache.prod.txt&quot;
      <span style="color:green;">+</span> id                   = (known after apply)
    }

<span style="font-weight:bold;">Plan:</span> 1 to add, 0 to change, 0 to destroy.

Changes to Outputs:
  <span style="color:green;">+</span> lang     = &quot;en&quot;
  <span style="color:green;">+</span> location = &quot;Los Angeles&quot;
  <span style="color:green;">+</span> stage    = &quot;prod&quot;
  <span style="color:green;">+</span> units    = &quot;m&quot;
  <span style="color:green;">+</span> url      = &quot;https://wttr.in/Los+Angeles?0m&amp;lang=en&quot;
  <span style="color:green;">+</span> weather  =

        Weather report: Los Angeles
        
          <span style="color:#ffff00;">    \   /    </span> Sunny
          <span style="color:#ffff00;">     .-.     </span> <span style="color:#d7ff00;">19</span> °C
          <span style="color:#ffff00;">  ― (   ) ―  </span> <span style="font-weight:bold;">↗</span> <span style="color:#ffd700;">18</span> km/h
          <span style="color:#ffff00;">     `-’     </span> 16 km
          <span style="color:#ffff00;">    /   \    </span> 0.0 mm


<span style="font-weight:bold;">local_file.cache: Creating...</span>
<span style="font-weight:bold;">local_file.cache: Creation complete after 0s </span>
<span style="font-weight:bold;"></span><span style="font-weight:bold;color:green;">
Apply complete! Resources: 1 added, 0 changed, 0 destroyed.</span>
<span style="font-weight:bold;"></span><span style="font-weight:bold;color:green;">
Outputs:

</span>lang = &quot;en&quot;
location = &quot;Los Angeles&quot;
stage = &quot;prod&quot;
units = &quot;m&quot;
url = &quot;https://wttr.in/Los+Angeles?0m&amp;lang=en&quot;
weather =

Weather report: Los Angeles

  <span style="color:#ffff00;">    \   /    </span> Sunny
  <span style="color:#ffff00;">     .-.     </span> <span style="color:#d7ff00;">19</span> °C
  <span style="color:#ffff00;">  ― (   ) ―  </span> <span style="font-weight:bold;">↗</span> <span style="color:#ffd700;">18</span> km/h
  <span style="color:#ffff00;">     `-’     </span> 16 km
  <span style="color:#ffff00;">    /   \    </span> 0.0 mm


