<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # Deploy your component to the staging environment 🚀
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> 
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> atmos terraform deploy myapp --stack staging

<span style="font-weight:bold;">Initializing the backend...</span>
<span style="font-weight:bold;">Initializing provider plugins...</span>

<span style="font-weight:bold;"></span><span style="font-weight:bold;color:green;">Terraform has been successfully initialized!</span><span style="color:green;"></span>
<span style="color:red;">

</span><span style="color:green;"></span><span style="font-weight:bold;color:green;">Created and switched to workspace &quot;staging&quot;!</span><span style="color:green;">

You're now on a new, empty workspace. Workspaces isolate their state,
so if you run &quot;terraform plan&quot; Terraform will not see any existing state
for this configuration.</span>
<span style="font-weight:bold;">data.http.weather: Reading...</span>
<span style="font-weight:bold;">data.http.weather: Read complete after 1s 
    [id=https://wttr.in/Los+Angeles?0&amp;format=&amp;lang=en&amp;u=m]</span>

Terraform used the selected providers to generate the following execution plan. 
  <span style="color:green;">+</span> create

Terraform will perform the following actions:

<span style="font-weight:bold;">  # local_file.cache</span> will be created
  <span style="color:green;">+</span> resource &quot;local_file&quot; &quot;cache&quot; {
      <span style="color:green;">+</span> content              =

            Weather report: Los+Angeles
            
                            Overcast
              <span style="font-weight:bold;color:#555555;">     .--.    </span> <span style="color:#afff00;">17</span> °C          
              <span style="font-weight:bold;color:#555555;">  .-(    ).  </span> <span style="font-weight:bold;">←</span> <span style="color:#ffff00;">15</span> km/h      
              <span style="font-weight:bold;color:#555555;"> (___.__)__) </span> 16 km          
                            0.0 mm


      <span style="color:green;">+</span> content_base64sha256 = (known after apply)
      <span style="color:green;">+</span> content_base64sha512 = (known after apply)
      <span style="color:green;">+</span> content_md5          = (known after apply)
      <span style="color:green;">+</span> content_sha1         = (known after apply)
      <span style="color:green;">+</span> content_sha256       = (known after apply)
      <span style="color:green;">+</span> content_sha512       = (known after apply)
      <span style="color:green;">+</span> directory_permission = &quot;0777&quot;
      <span style="color:green;">+</span> file_permission      = &quot;0777&quot;
      <span style="color:green;">+</span> filename             = &quot;cache.staging.txt&quot;
      <span style="color:green;">+</span> id                   = (known after apply)
    }

<span style="font-weight:bold;">Plan:</span> 1 to add, 0 to change, 0 to destroy.

Changes to Outputs:
  <span style="color:green;">+</span> lang     = &quot;en&quot;
  <span style="color:green;">+</span> location = &quot;Los Angeles&quot;
  <span style="color:green;">+</span> stage    = &quot;staging&quot;
  <span style="color:green;">+</span> units    = &quot;m&quot;
  <span style="color:green;">+</span> url      = &quot;https://wttr.in/Los+Angeles?0&amp;format=&amp;lang=en&amp;u=m&quot;
  <span style="color:green;">+</span> weather  =

        Weather report: Los+Angeles
        
                        Overcast
          <span style="font-weight:bold;color:#555555;">     .--.    </span> <span style="color:#afff00;">17</span> °C          
          <span style="font-weight:bold;color:#555555;">  .-(    ).  </span> <span style="font-weight:bold;">←</span> <span style="color:#ffff00;">15</span> km/h      
          <span style="font-weight:bold;color:#555555;"> (___.__)__) </span> 16 km          
                        0.0 mm


<span style="font-weight:bold;">local_file.cache: Creating...</span>
<span style="font-weight:bold;">local_file.cache: Creation complete after 0s </span>
<span style="font-weight:bold;"></span><span style="font-weight:bold;color:green;">
Apply complete! Resources: 1 added, 0 changed, 0 destroyed.
</span><span style="font-weight:bold;"></span><span style="font-weight:bold;color:green;">
Outputs:

</span>lang = &quot;en&quot;
location = &quot;Los Angeles&quot;
stage = &quot;staging&quot;
units = &quot;m&quot;
url = &quot;https://wttr.in/Los+Angeles?0&amp;format=&amp;lang=en&amp;u=m&quot;
weather =

Weather report: Los+Angeles

                Overcast
  <span style="font-weight:bold;color:#555555;">     .--.    </span> <span style="color:#afff00;">17</span> °C          
  <span style="font-weight:bold;color:#555555;">  .-(    ).  </span> <span style="font-weight:bold;">←</span> <span style="color:#ffff00;">15</span> km/h      
  <span style="font-weight:bold;color:#555555;"> (___.__)__) </span> 16 km          
                0.0 mm         




