Script started on 2025-10-07 07:52:57+00:00 [&lt;not executed on terminal&gt;]
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # Deploy your component to the production (prod) environment 🚀
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> 
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> atmos terraform deploy myapp --stack prod

/workspace/demo/screengrabs/scripts/demo-stacks/.demo.rc: line 39: atmos: command not found

Script done on 2025-10-07 07:52:57+00:00 [COMMAND_EXIT_CODE=&quot;127&quot;]
