<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # Here's a simple way to organize environments.
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> 
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> tree -I *.tf .

<span style="font-weight:bold;color:#005f87;">.</span>/
├── atmos.yaml
├── <span style="font-weight:bold;color:#005f87;">components</span>/
│   └── <span style="font-weight:bold;color:#005f87;">terraform</span>/
│       └── <span style="font-weight:bold;color:#005f87;">myapp</span>/
│           └── README.md
├── component.yaml
└── <span style="font-weight:bold;color:#005f87;">stacks</span>/
    ├── <span style="font-weight:bold;color:#005f87;">catalog</span>/
    │   └── myapp.yaml
    └── <span style="font-weight:bold;color:#005f87;">deploy</span>/
        ├── dev.yaml
        ├── prod.yaml
        └── staging.yaml

7 directories, 7 files


<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> 
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # Customize how to organize environments in the atmos.yaml file.
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # Pay special attention to the name_pattern, which is how Atmos knows
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # where to find the stacks.
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> 
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> cat atmos.yaml

     File: <span style="font-weight:bold;">atmos.yaml</span>
<span style="color:#404040;">   1</span> <span style="color:#63a35c;">base_path</span><span style="color:#333333;">:</span><span style="color:#333333;"> </span><span style="color:#005f87;">&quot;</span><span style="color:#005f87;">./</span><span style="color:#005f87;">&quot;</span>
<span style="color:#404040;">   2</span> 
<span style="color:#404040;">   3</span> <span style="color:#63a35c;">components</span><span style="color:#333333;">:</span>
<span style="color:#404040;">   4</span> <span style="color:#333333;">  </span><span style="color:#63a35c;">terraform</span><span style="color:#333333;">:</span>
<span style="color:#404040;">   5</span> <span style="color:#333333;">    </span><span style="color:#63a35c;">base_path</span><span style="color:#333333;">:</span><span style="color:#333333;"> </span><span style="color:#005f87;">&quot;</span><span style="color:#005f87;">components/terraform</span><span style="color:#005f87;">&quot;</span>
<span style="color:#404040;">   6</span> <span style="color:#333333;">    </span><span style="color:#63a35c;">apply_auto_approve</span><span style="color:#333333;">:</span><span style="color:#333333;"> </span><span style="color:#0086b3;">false</span>
<span style="color:#404040;">   7</span> <span style="color:#333333;">    </span><span style="color:#63a35c;">deploy_run_init</span><span style="color:#333333;">:</span><span style="color:#333333;"> </span><span style="color:#0086b3;">true</span>
<span style="color:#404040;">   8</span> <span style="color:#333333;">    </span><span style="color:#63a35c;">init_run_reconfigure</span><span style="color:#333333;">:</span><span style="color:#333333;"> </span><span style="color:#0086b3;">true</span>
<span style="color:#404040;">   9</span> <span style="color:#333333;">    </span><span style="color:#63a35c;">auto_generate_backend_file</span><span style="color:#333333;">:</span><span style="color:#333333;"> </span><span style="color:#0086b3;">false</span>
<span style="color:#404040;">  10</span> 
<span style="color:#404040;">  11</span> <span style="color:#63a35c;">stacks</span><span style="color:#333333;">:</span>
<span style="color:#404040;">  12</span> <span style="color:#333333;">  </span><span style="color:#63a35c;">base_path</span><span style="color:#333333;">:</span><span style="color:#333333;"> </span><span style="color:#005f87;">&quot;</span><span style="color:#005f87;">stacks</span><span style="color:#005f87;">&quot;</span>
<span style="color:#404040;">  13</span> <span style="color:#333333;">  </span><span style="color:#63a35c;">included_paths</span><span style="color:#333333;">:</span>
<span style="color:#404040;">  14</span> <span style="color:#333333;">    </span><span style="color:#333333;">-</span><span style="color:#333333;"> </span><span style="color:#005f87;">&quot;</span><span style="color:#005f87;">deploy/**/*</span><span style="color:#005f87;">&quot;</span>
<span style="color:#404040;">  15</span> <span style="color:#333333;">  </span><span style="color:#63a35c;">excluded_paths</span><span style="color:#333333;">:</span>
<span style="color:#404040;">  16</span> <span style="color:#333333;">    </span><span style="color:#333333;">-</span><span style="color:#333333;"> </span><span style="color:#005f87;">&quot;</span><span style="color:#005f87;">**/_defaults.yaml</span><span style="color:#005f87;">&quot;</span>
<span style="color:#404040;">  17</span> <span style="color:#333333;">  </span><span style="color:#63a35c;">name_pattern</span><span style="color:#333333;">:</span><span style="color:#333333;"> </span><span style="color:#005f87;">&quot;</span><span style="color:#005f87;">{stage}</span><span style="color:#005f87;">&quot;</span>
<span style="color:#404040;">  18</span> 
<span style="color:#404040;">  19</span> <span style="color:#63a35c;">logs</span><span style="color:#333333;">:</span>
<span style="color:#404040;">  20</span> <span style="color:#333333;">  </span><span style="color:#63a35c;">file</span><span style="color:#333333;">:</span><span style="color:#333333;"> </span><span style="color:#005f87;">&quot;</span><span style="color:#005f87;">/dev/stderr</span><span style="color:#005f87;">&quot;</span>
<span style="color:#404040;">  21</span> <span style="color:#333333;">  </span><span style="color:#63a35c;">level</span><span style="color:#333333;">:</span><span style="color:#333333;"> </span><span style="color:#005f87;">Info</span>

