
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> 
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # Here's a simple way to organize environments.
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> 
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> tree -I *.tf .

<span style="font-weight:bold;color:#005f87;">.</span>/
├── atmos.yaml
├── component.yaml
├── <span style="font-weight:bold;color:#005f87;">components</span>/
│   └── <span style="font-weight:bold;color:#005f87;">terraform</span>/
│       └── <span style="font-weight:bold;color:#005f87;">myapp</span>/
│           └── README.md
└── <span style="font-weight:bold;color:#005f87;">stacks</span>/
    ├── <span style="font-weight:bold;color:#005f87;">catalog</span>/
    │   └── myapp.yaml
    └── <span style="font-weight:bold;color:#005f87;">deploy</span>/
        ├── dev.yaml
        ├── prod.yaml
        └── staging.yaml

7 directories, 7 files


<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> 
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # Customize how to organize environments in the atmos.yaml file.
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # Pay special attention to the name_pattern, which is how Atmos knows
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # where to find the stacks.
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> 
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> cat atmos.yaml

/home/samtholiya/cloudposse/atmos/demo/screengrabs/scripts/demo-stacks/.demo.rc: line 39: bat: command not found




