Script started on 2025-10-07 07:52:57+00:00 [&lt;not executed on terminal&gt;]
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> 
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # Here's a simple way to organize environments.
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> 
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> tree -I *.tf .

/workspace/demo/screengrabs/scripts/demo-stacks/.demo.rc: line 39: tree: command not found


<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> 
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # Customize how to organize environments in the atmos.yaml file.
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # Pay special attention to the name_pattern, which is how Atmos knows
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # where to find the stacks.
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> 
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> cat atmos.yaml

/workspace/demo/screengrabs/scripts/demo-stacks/.demo.rc: line 39: bat: command not found



Script done on 2025-10-07 07:52:57+00:00 [COMMAND_EXIT_CODE=&quot;0&quot;]
