<span style="color:green;">demo-stacks/ </span><span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> #
<span style="color:green;">demo-stacks/ </span><span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # Here's a simple way to organize environemnts.
<span style="color:green;">demo-stacks/ </span><span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> #
<span style="color:green;">demo-stacks/ </span><span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> tree -I *.tf .

<span style="font-weight:bold;color:blue;">.</span>/
├── atmos.yaml
├── <span style="font-weight:bold;color:blue;">components</span>/
│   └── <span style="font-weight:bold;color:blue;">terraform</span>/
│       └── <span style="font-weight:bold;color:blue;">myapp</span>/
│           └── README.md
└── <span style="font-weight:bold;color:blue;">stacks</span>/
    ├── <span style="font-weight:bold;color:blue;">catalog</span>/
    │   └── myapp.yaml
    └── <span style="font-weight:bold;color:blue;">deploy</span>/
        ├── dev.yaml
        ├── prod.yaml
        └── staging.yaml

6 directories, 6 files


<span style="color:green;">demo-stacks/ </span><span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> #
<span style="color:green;">demo-stacks/ </span><span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # Customize how to organize environments in the atmos.yml file.
<span style="color:green;">demo-stacks/ </span><span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # Pay special attention to the name_pattern, which is how atmos where to
<span style="color:green;">demo-stacks/ </span><span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # find the stacks.
<span style="color:green;">demo-stacks/ </span><span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> #
<span style="color:green;">demo-stacks/ </span><span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> cat atmos.yaml

     File: <span style="font-weight:bold;">atmos.yaml</span>
<span style="color:#404040;">   1</span> <span style="color:#d75f87;">base_path</span><span style="color:#b5b5b5;">:</span><span style="color:#b5b5b5;"> </span><span style="color:#87d787;">&quot;</span><span style="color:#87d787;">./</span><span style="color:#87d787;">&quot;</span>
<span style="color:#404040;">   2</span> 
<span style="color:#404040;">   3</span> <span style="color:#d75f87;">components</span><span style="color:#b5b5b5;">:</span>
<span style="color:#404040;">   4</span> <span style="color:#b5b5b5;">  </span><span style="color:#d75f87;">terraform</span><span style="color:#b5b5b5;">:</span>
<span style="color:#404040;">   5</span> <span style="color:#b5b5b5;">    </span><span style="color:#d75f87;">base_path</span><span style="color:#b5b5b5;">:</span><span style="color:#b5b5b5;"> </span><span style="color:#87d787;">&quot;</span><span style="color:#87d787;">components/terraform</span><span style="color:#87d787;">&quot;</span>
<span style="color:#404040;">   6</span> <span style="color:#b5b5b5;">    </span><span style="color:#d75f87;">apply_auto_approve</span><span style="color:#b5b5b5;">:</span><span style="color:#b5b5b5;"> </span><span style="color:#d7af5f;">false</span>
<span style="color:#404040;">   7</span> <span style="color:#b5b5b5;">    </span><span style="color:#d75f87;">deploy_run_init</span><span style="color:#b5b5b5;">:</span><span style="color:#b5b5b5;"> </span><span style="color:#d7af5f;">true</span>
<span style="color:#404040;">   8</span> <span style="color:#b5b5b5;">    </span><span style="color:#d75f87;">init_run_reconfigure</span><span style="color:#b5b5b5;">:</span><span style="color:#b5b5b5;"> </span><span style="color:#d7af5f;">true</span>
<span style="color:#404040;">   9</span> <span style="color:#b5b5b5;">    </span><span style="color:#d75f87;">auto_generate_backend_file</span><span style="color:#b5b5b5;">:</span><span style="color:#b5b5b5;"> </span><span style="color:#d7af5f;">false</span>
<span style="color:#404040;">  10</span> <span style="color:#b5b5b5;">  </span>
<span style="color:#404040;">  11</span> <span style="color:#d75f87;">stacks</span><span style="color:#b5b5b5;">:</span>
<span style="color:#404040;">  12</span> <span style="color:#b5b5b5;">  </span><span style="color:#d75f87;">base_path</span><span style="color:#b5b5b5;">:</span><span style="color:#b5b5b5;"> </span><span style="color:#87d787;">&quot;</span><span style="color:#87d787;">stacks</span><span style="color:#87d787;">&quot;</span>
<span style="color:#404040;">  13</span> <span style="color:#b5b5b5;">  </span><span style="color:#d75f87;">included_paths</span><span style="color:#b5b5b5;">:</span>
<span style="color:#404040;">  14</span> <span style="color:#b5b5b5;">    </span><span style="color:#b5b5b5;">-</span><span style="color:#b5b5b5;"> </span><span style="color:#87d787;">&quot;</span><span style="color:#87d787;">deploy/**/*</span><span style="color:#87d787;">&quot;</span>
<span style="color:#404040;">  15</span> <span style="color:#b5b5b5;">  </span><span style="color:#d75f87;">excluded_paths</span><span style="color:#b5b5b5;">:</span>
<span style="color:#404040;">  16</span> <span style="color:#b5b5b5;">    </span><span style="color:#b5b5b5;">-</span><span style="color:#b5b5b5;"> </span><span style="color:#87d787;">&quot;</span><span style="color:#87d787;">**/_defaults.yaml</span><span style="color:#87d787;">&quot;</span>
<span style="color:#404040;">  17</span> <span style="color:#b5b5b5;">  </span><span style="color:#d75f87;">name_pattern</span><span style="color:#b5b5b5;">:</span><span style="color:#b5b5b5;"> </span><span style="color:#87d787;">&quot;</span><span style="color:#87d787;">{stage}</span><span style="color:#87d787;">&quot;</span>
<span style="color:#404040;">  18</span> 
<span style="color:#404040;">  19</span> <span style="color:#d75f87;">logs</span><span style="color:#b5b5b5;">:</span>
<span style="color:#404040;">  20</span> <span style="color:#b5b5b5;">  </span><span style="color:#d75f87;">file</span><span style="color:#b5b5b5;">:</span><span style="color:#b5b5b5;"> </span><span style="color:#87d787;">&quot;</span><span style="color:#87d787;">/dev/stdout</span><span style="color:#87d787;">&quot;</span>
<span style="color:#404040;">  21</span> <span style="color:#b5b5b5;">  </span><span style="color:#d75f87;">level</span><span style="color:#b5b5b5;">:</span><span style="color:#b5b5b5;"> </span><span style="color:#87d787;">Info</span>


