Script started on 2025-10-07 07:52:57+00:00 [&lt;not executed on terminal&gt;]
# Here's an example of how to organize components
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> tree components

/workspace/demo/screengrabs/scripts/demo-stacks/.demo.rc: line 39: tree: command not found


<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # Let's take a look at myapp terraform 'root' module...
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # This is a simple example of retrieving the weather.
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # Taking a closer look at the main.tf, you'll notice it accepts a lot of parameters.
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # This is a best practice for writing reusable components.
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> 
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> cat components/terraform/myapp/main.tf

/workspace/demo/screengrabs/scripts/demo-stacks/.demo.rc: line 39: bat: command not found


<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # Then we define all the variables we plan to accept.
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # Generally, we recommend avoiding defaults here and using baseline stack configurations.
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> 
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> cat components/terraform/myapp/variables.tf

/workspace/demo/screengrabs/scripts/demo-stacks/.demo.rc: line 39: bat: command not found


<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # Then let's provide some outputs that can be used by other components.
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> 
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> cat components/terraform/myapp/outputs.tf

/workspace/demo/screengrabs/scripts/demo-stacks/.demo.rc: line 39: bat: command not found


<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> # It's a best practice to pin versions, so let's do that.
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> 
<span style="font-weight:bold;filter: contrast(70%) brightness(190%);color:green;">&gt;</span> cat components/terraform/myapp/versions.tf

/workspace/demo/screengrabs/scripts/demo-stacks/.demo.rc: line 39: bat: command not found

Script done on 2025-10-07 07:52:57+00:00 [COMMAND_EXIT_CODE=&quot;127&quot;]
