.note {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
}

.note > div:last-child {
  margin-bottom: 0;
}

.note > strong {
  color: #177bb6;
  margin-right: 0.5em;
  text-wrap: nowrap;
}

[data-theme='dark'] .note > div {
  filter: opacity(0.5);
}
