name: "Atmos Pro - Terraform Apply"

on:
  workflow_dispatch:
    inputs:
      sha:
        description: "Commit SHA"
        type: string
      component:
        description: "Component"
        required: true
        type: string
      stack:
        description: "Stack"
        required: true
        type: string
      github_environment:
        description: "GitHub Environment"
        required: true
        type: string

concurrency:
  group: "${{ inputs.stack }}-${{ inputs.component }}"
  cancel-in-progress: false

permissions:
  id-token: write
  contents: read
  checks: write
  statuses: write

jobs:
  atmos-apply:
    name: ${{ inputs.component }}-${{ inputs.stack }}
    environment: ${{ inputs.github_environment }}
    runs-on: [self-hosted, Ubuntu, Common]
    container:
      image: ghcr.io/cloudposse/atmos:${{ vars.ATMOS_VERSION }}
    env:
      ATMOS_CLI_CONFIG_PATH: ./rootfs/usr/local/etc/atmos

    steps:
      - name: Checkout
        uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493 # v4.2.2
        with:
          ref: ${{ inputs.sha }}

      - name: Apply Atmos Component
        env:
          ATMOS_PRO_WORKSPACE_ID: ${{ vars.ATMOS_PRO_WORKSPACE_ID }}
          ATMOS_PROFILE: github-apply
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COMPONENT: ${{ inputs.component }}
          STACK: ${{ inputs.stack }}
        run: |
          atmos terraform deploy "${COMPONENT}" -s "${STACK}" --upload-status
