.action-card {
  background-color: #2c2c2c;
  color: #cccccc;
  padding: 2em;
  border: 1px solid #cccccc36;
  border-radius: 1.3em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 4em;
  margin-bottom: 3em;
}

.action-card h2 {
  margin-bottom: 10px;
}

.action-card p {
  font-size: 20px;
  margin-bottom: 20px;
  display: block;
}

.action-card .button--lg {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}

.action-card a.button.button--lg.button--primary {
    margin-left: inherit;
    margin-right: 100%;
}

.action-card p > div a.button.button--lg.button--primary, .action-card div > div a.button.button--lg.button--primary {
    margin-right: inherit;
}

.action-card a.button {
  margin-top: 2em;
  margin-bottom: 0;
}

.action-card div a.button {
  margin-top: 1em;
  margin-bottom: 0;
}
