name: "Website Deploy Prod"

on:
  workflow_dispatch:
  push:
    branches:
      - main
  release:
    types:
      - released

env:
  AWS_REGION: us-east-2
  IAM_ROLE_ARN: arn:aws:iam::557075604627:role/cplive-plat-ue2-prod-atmos-docs-gha
  IAM_ROLE_SESSION_NAME: cloudposse-atmos-ci-deploy-release
  S3_BUCKET_NAME: cplive-plat-ue2-prod-atmos-docs-origin
  DEPLOYMENT_HOST: atmos.tools
  ALGOLIA_INDEX_NAME: atmos.tools
  ALGOLIA_APP_ID: 32YOERUX83

# These permissions are needed to interact with the GitHub's OIDC Token endpoint
permissions:
  id-token: write
  contents: read

jobs:
  website-deploy-prod:
    runs-on: ubuntu-latest

    environment:
      name: production
      url: https://${{ env.DEPLOYMENT_HOST }}

    steps:
      # https://github.com/marketplace/actions/configure-aws-credentials-action-for-github-actions
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: ${{ env.IAM_ROLE_ARN }}
          role-session-name: ${{ env.IAM_ROLE_SESSION_NAME }}

      - name: Checkout Repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: "website/.nvmrc"

      - name: Install Dependencies and Build Website
        run: |
          node --version
          cd website
          npm install --only=production
          npm run build:site
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Copy Website to S3 Bucket
        run: |
          cd website/build
          aws sts get-caller-identity
          aws s3 sync . s3://${{ env.S3_BUCKET_NAME }} --delete
          aws s3 ls s3://${{ env.S3_BUCKET_NAME }} --recursive --human-readable --summarize

      - name: ReIndex with Algolia
        env:
          ALGOLIA_SCRAPER_API_KEY: ${{ secrets.ALGOLIA_SCRAPER_API_KEY }}
        run: |
          ./website/algolia/reindex.sh

      - name: Trigger ReIndexing of atmos.tools and docs.cloudposse.com Docs
        run: |
          curl \
            -X POST \
            -H "Authorization: Bearer ${{ secrets.TRIGGER_DOCS_REDEPLOY_WORKFLOW_REFARCH }}" \
            -H "Accept: application/vnd.github.everest-preview+json" \
            https://api.github.com/repos/cloudposse/refarch-scaffold/dispatches \
            -d '{"event_type": "reindex"}'
